.navbar {
  /* display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 12px;
  position: relative;
  align-items: center;
  scroll-behavior: smooth; */
  /* justify-content: space-between; */
  padding: 12px;
  width: 90%;
  height: 7%;
  background-color: rgb(229, 243, 229);
  position: fixed;
  top: 0;
}

.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.menu-icon {
  font-size: 24px;
}

.mobile-menu {
  display: none;
}

.pc-menu {
  display: flex;
}

.logo {
  display: flex;
  font-size: 36px;
  color: green;
  font-weight: 800;
}

.logo a {
  text-decoration: none;
  color: green;
}

@media only screen and (max-width: 720px) {
  .mobile-menu {
    display: flex;
  }
  .pc-menu {
    display: none;
  }
  .logo {
    font-size: 24px;
  }
}
