.project-container {
    background-color: rgb(238, 245, 228);
    padding: 0px 8px; 
}

.project-section {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
    /* padding: 8px 0px; */
   
}

.project-image {
    width: 40%;
}

.project-info {
    margin-right: 24px;
    /* padding: 4px 8px; */
}

.project-title {
    font-size: 20px;
    font-weight: 600;
}

.project-tags {
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
}

.tag {
    padding: 4px 8px;
    background-color: rgb(212, 233, 217);
    border-radius: 4px;
    margin-right: 6px;
    margin-bottom: 4px;
}

.project-links a {
    text-decoration: none;
    color: black;
}

.project-links {
    margin-top: 6px;
    display: flex;
}

.link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 241, 205);
    width: max-content;
    padding: 4px 8px;
    /* margin-right: 6px; */
    /* border-radius: 4px; */
}

.link-button i {
    display: flex;
    align-items: center;
    margin-right: 4px;
}

@media only screen and (max-width: 720px) {
    .project-image {
        width: 70%;
    }
    .project-section {
        flex-direction: column-reverse;
    }
    .project-info {
        margin-left: 0px;
        margin-top: 12px;
    }
    .project-tags {
        max-width: 100%;
    }
}