.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon-div {
    padding: 6px;
    cursor: pointer;
    margin: 6px;
}

.contact-icon {
    height: 40px;
}

@media only screen and (max-width: 720px) {
    .contact-icon {
        height: 32px;
    }
}

